@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  max-width: 100% !important;
}

* { box-sizing: border-box; }
html, body, #__next { overflow-x: hidden !important; }

img, video, iframe { max-width: 100%; height: auto; display: block; }

[class*="max-w-"] { max-width: 100% !important; }


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


